#container {
    background-color: #f9f9f9;
}

#main {
    padding: 0 200px;
    flex-wrap: wrap;
    margin: 0 -0.7%;
    /* justify-content: space-between; */
}

#main > a {
    flex-basis: 18.6%;
    margin: 0 0.7% 20px;
}

#main > a > img {
    width: 100%;
}

#main .info {
    padding: 10px;
}

#main .info figure {
    min-width: 50px;
}

#main .info img {
    width: 36px;
}

#main .info .name {
    color: #333;
}

#main .info .username,
#main .info .more--info {
    color: #606060;
    font-size: 90%;
}